<!DOCTYPE html>
{% extends './base.html' %}
{% block foo %}
    <p>{{ msg }}</p>
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add">
    </form>
{% endblock %}