<!DOCTYPE html>
{% extends './base.html' %}
{% block foo %}
<div>
    <table id="myTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Designation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ employee.first_name }} {{ employee.last_name }}</td>
                <td>{{ employee.Designation }}</td>
            </tr> 
        </tbody>
    </table>
    <div>
        <button><a href="/employee/employee_update/{{ employee.pk }}">Update</a></button>
        <button><a href="/employee/employee_delete/{{ employee.pk }}">Delete</a></button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>
{% endblock %}