<!DOCTYPE html>
{% extends './base.html' %}
{% block foo %}
    <p>{{ msg }}</p>
    <table id="myTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Designation</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in page_obj %}
            <tr>
                <td><a href="/employee/employee_view/?number={{ employee.pk }}">{{ employee.first_name }} {{ employee.last_name }}</a></td>
                <td>{{ employee.Designation }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    <script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
    </script>
{% endblock %}